.content {
    margin: 20px 20px 20px 20px;
}
/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 5px 0;
    width: 50%;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style time text */
.time-right {
    float: right;
    color: #999;
}

.inputs {
    width: 100%;
    
}

.input-field{
    margin: 1% 0 1% 10%;
    padding: 1% 0 1% 0;
    border: 2px solid gray;
    border-radius: 5px;
    width: 75%;
}

.name {
    width: 50%;
}

.text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
}

.signature {
    color: #555;
    font-size: smaller;
}

.positive {
    background: #adffad;
}
.negative {
    background: #ffadad;
}
.mixed {
    background:#d6d6ad 
}
    
.neutral {
    background: #d0d0d0
}

#send-btn {
    padding: 1%;
    margin-bottom: 1px;
}